@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Embla Carousel Styles */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  transition: height 0.2s;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.333333%;
  }
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}

:root {
  --background: hsl(292 0% 100%);
  --foreground: hsl(292 0% 10%);
  --card: hsl(292 0% 100%);
  --card-foreground: hsl(292 0% 15%);
  --popover: hsl(292 0% 100%);
  --popover-foreground: hsl(292 95% 10%);
  --primary: hsl(292 72% 59%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(292 10% 90%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(254 10% 95%);
  --muted-foreground: hsl(292 0% 40%);
  --accent: hsl(0, 0%, 95%);
  --accent-foreground: hsl(292 0% 15%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(292 0% 100%);
  --border: hsl(285, 6%, 87%);
  --input: hsl(292 20% 50%);
  --ring: hsl(292 72% 59%);
  --radius: 0.6rem;
}

.dark {
  --background: hsl(292 10% 7%);
  --foreground: hsl(292 0% 90%);
  --card: hsl(292 0% 7%);
  --card-foreground: hsl(292 0% 90%);
  --popover: hsl(292 10% 5%);
  --popover-foreground: hsl(292 0% 90%);
  --primary: hsl(292 72% 59%);
  --primary-foreground: 0 0% 100%;
  --secondary: hsl(292 10% 10%);
  --secondary-foreground: 0 0% 100%;
  --muted: hsl(254 10% 15%);
  --muted-foreground: hsl(292 0% 60%);
  --accent: hsl(254 10% 15%);
  --accent-foreground: hsl(292 0% 90%);
  --destructive: hsl(0 50% 30%);
  --destructive-foreground: hsl(292 0% 90%);
  --border: hsl(300, 6%, 13%);
  --input: hsl(292 20% 18%);
  --ring: hsl(292 72% 59%);
  --radius: 0.6rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --font-primary: "Manrope", sans-serif;
  --font-secondary: "Instrument Serif", serif;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-circle {
  animation: rotate 60s linear infinite;
}

.counter-rotate {
  animation: spin 60s linear infinite reverse;
}

/* Accordion */

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* Animation classes you can apply to your elements */
.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}
